In [3]:
import numpy as np
import sklearn
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [4]:
pl = pd.read_csv('dataset/eplmatches.csv')
pl.head()

,Season_End_Year,Wk,Date,Home,HomeGoals,AwayGoals,Away,FTR
0,1993,1,1992-08-15,Coventry City,2,1,Middlesbrough,H
1,1993,1,1992-08-15,Leeds United,2,1,Wimbledon,H
2,1993,1,1992-08-15,Sheffield Utd,2,1,Manchester Utd,H
3,1993,1,1992-08-15,Crystal Palace,3,3,Blackburn,D
4,1993,1,1992-08-15,Arsenal,2,4,Norwich City,A

In [7]:
pl.describe

<bound method NDFrame.describe of        Season_End_Year  Wk        Date            Home  HomeGoals  AwayGoals  \
0                 1993   1  1992-08-15   Coventry City          2          1
1                 1993   1  1992-08-15    Leeds United          2          1
2                 1993   1  1992-08-15   Sheffield Utd          2          1
3                 1993   1  1992-08-15  Crystal Palace          3          3
4                 1993   1  1992-08-15         Arsenal          2          4
...                ...  ..         ...             ...        ...        ...
11641             2022   9  2021-10-23    Leeds United          1          1
11642             2022   9  2021-10-23        Brighton          1          4
11643             2022   9  2021-10-24        West Ham          1          0
11644             2022   9  2021-10-24       Brentford          1          2
11645             2022   9  2021-10-24  Manchester Utd          0          5

                  Away FTR
0        Middlesbrough   H
1            Wimbledon   H
2       Manchester Utd   H
3            Blackburn   D
4         Norwich City   A
...                ...  ..
11641           Wolves   D
11642  Manchester City   A
11643        Tottenham   H
11644   Leicester City   A
11645        Liverpool   A

[11646 rows x 8 columns]>

In [ ]:
PL['Points']